<ul>
  <li>
    <a href="#details" data-toggle="tab">
      <div class="icon-circle">
        <i class="ti-list"></i>
      </div>
      Details
    </a>
  </li>
  <li>
    <a href="#captain" data-toggle="tab">
      <div class="icon-circle">
        <i class="ti-briefcase"></i>
      </div>
      Timetable
    </a>
  </li>
  <li>
    <a href="#description" data-toggle="tab">
      <div class="icon-circle">
        <i class="ti-pencil"></i>
      </div>
      Description
    </a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane" id="details">
    <h4>details</h4>
  </div>
  <div class="tab-pane" id="captain">
    <h5 class="info-text">captain</h5>
  </div>
  <div class="tab-pane" id="description">
    <h4>description</h4>
  </div>
</div>
